@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
.my-orange-calendar .rmdp-day.rmdp-selected,
.my-orange-calendar .rmdp-day.rmdp-selected span {
  background-color: #f97316 !important;
  color: white !important;
  border-radius: 9999px !important;
}
.my-orange-calendar .rmdp-day.rmdp-today span {
  border: 1px solid #f97316 !important;
  color: #fff !important;
  border-radius: 9999px !important;
}
.my-orange-calendar .rmdp-day:not(.rmdp-disabled):hover span {
  background-color: #f97316 !important;
  color: white !important;
  border-radius: 9999px !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazirmatn), sans-serif;
  direction: rtl;
  text-align: right;
}
.swiper-button-prev,
.swiper-button-next {
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 50px !important;
  height: 50px !important;
  background: rgba(255, 255, 255, 0.821) !important;
  border-radius: 50% !important;
  color: #f76802 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important;
  font-weight: bold !important;
  color: #f76802 !important;
}
